
logs/manager_all.log
logs/manager_error.log
logs/manager_trace.log
/BlightBotRun/target/
/target/
/AutoIt/target/
/BBBounty/target/
/BBFarmer/target/
/BBuffer/target/
/BlightBotRun/target/
/Clicker/target/
/Loggers/target/
/logs/
/Tools/target/
/WinInter/target/
/.idea/
/state/
